extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid mb-3")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac eleifend libero. Sed massa mauris, dictum nec dui ut, scelerisque egestas enim. Etiam lacus nibh, varius ac erat id, tincidunt varius nisl. Nam viverra ultricies hendrerit. Fusce tristique, mi et volutpat sagittis, felis ante lobortis diam, sed pellentesque dolor turpis ut neque. Praesent pellentesque tortor vitae libero iaculis malesuada.

                p Donec tincidunt erat urna, eget sodales augue dapibus eget. Aenean elementum id risus a efficitur. Proin erat ex, posuere a dapibus id, vestibulum sit amet magna. Nunc convallis consequat diam eu finibus. Sed posuere enim sit amet rhoncus hendrerit. Maecenas accumsan orci odio, vel commodo dolor luctus in. Proin in eros in nulla convallis tincidunt non eget ante. Mauris faucibus, erat venenatis interdum egestas, purus dolor porttitor purus, in sagittis neque ligula eu tellus. Cras eget eros risus. Duis scelerisque vel tortor quis rhoncus.
                p Nulla vitae ornare lectus. Suspendisse potenti. Quisque tempus velit quis nunc lacinia, non aliquam augue dapibus. Donec imperdiet quam sit amet tellus commodo, fermentum fermentum felis congue. Vestibulum viverra venenatis convallis. Morbi non fringilla arcu. Mauris quis ex vitae mi sollicitudin tincidunt. Donec aliquam pellentesque ipsum non ultricies. Sed augue mauris, tempus et aliquam in, accumsan ac nisi.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-3")
                    h3 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac eleifend libero. Sed massa mauris, dictum nec dui ut, scelerisque egestas enim. Etiam lacus nibh, varius ac erat id, tincidunt varius nisl. Nam viverra ultricies hendrerit. Fusce tristique, mi et volutpat sagittis, felis ante lobortis diam, sed pellentesque dolor turpis ut neque. Praesent pellentesque tortor vitae libero iaculis malesuada.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-3")
                    h3 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac eleifend libero. Sed massa mauris, dictum nec dui ut, scelerisque egestas enim. Etiam lacus nibh, varius ac erat id, tincidunt varius nisl. Nam viverra ultricies hendrerit. Fusce tristique, mi et volutpat sagittis, felis ante lobortis diam, sed pellentesque dolor turpis ut neque. Praesent pellentesque tortor vitae libero iaculis malesuada.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-3")
                    h3 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac eleifend libero. Sed massa mauris, dictum nec dui ut, scelerisque egestas enim. Etiam lacus nibh, varius ac erat id, tincidunt varius nisl. Nam viverra ultricies hendrerit. Fusce tristique, mi et volutpat sagittis, felis ante lobortis diam, sed pellentesque dolor turpis ut neque. Praesent pellentesque tortor vitae libero iaculis malesuada.